.myInput{
    width: 100%;
    border: 0px;
    border-radius:30px;
    color: rgba(255,255,225,0.7);
    background-color: #25273C;
    font-size: 28px;
    box-sizing: border-box;
    padding-left: 32px;
    height: 60px;
    font-family: 'MyFont', sans-serif;
    outline: none;
}


.checkboxHidden{
    -webkit-appearance: none;
    position: absolute;
}

.customCheckbox{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid rgba(191,86, 255, 0.79);
    background-color: #25273C;
}

.checkboxMark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    height: auto;
    display: none;
}

.checkbox input:checked + .customCheckbox .checkboxMark {
    display: block;
}

.checkbox input:checked + .customCheckbox {
    background: linear-gradient(0deg, rgba(191, 86, 255, 0.79), rgba(191, 86, 255, 0.79)),
    linear-gradient(111.35deg, #E600FA 10.12%, rgba(82, 97, 234, 0) 82.22%);
}