.button__add {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #5AFF31;
    height: 60px;
    width: 110px;
    border-radius: 0px 30px 30px 0px;
    background-image: url('../../../images/Arrow.svg');
    background-repeat:no-repeat ;
    background-position: center center;
    transition: .2s ease-in-out;
}

.button__add:hover{
    background-color: #4fc132;
}


.button__delete {
    background-color: #3e9e26;
    width: 60px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
}
