.item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #25273C;
    border-bottom: 1px solid rgba(72,64,64,0.37);
    font-size: 24px;
    color: rgba(255,255,225,0.7);
}

.list {
    width: 660px;
}


.checkbox {
    flex-basis: 10%;
}

.text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-basis: 70%;
}

.deleteBtn {
    flex-basis: 20%;
}